.Footer {
    background-color: #F7F7F7;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.footer__dislike-btn {
    border: 1px solid #FFF;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 24px;
    z-index: 2;
    padding: 16px;
    position: fixed;
    right: 0;
    bottom: 5rem;
    background-color: black;
    box-shadow: 0px 0px 4px 1px #FFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container__content {
    display: inline-block;
    margin-left: 24px;
    letter-spacing: 2px;
}

.footer-container__icons {
    margin-left: 24px;
}

.footer-container__location-btn {
    padding: 0px 32px;
    letter-spacing: 2px;
}