.Footer {
    background-color: #F7F7F7;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.footer__dislike-btn {
    border: 1px solid #FFF;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    z-index: 2;
    padding: 16px;
    position: fixed;
    right: 0;
    bottom: 5rem;
    background-color: black;
    box-shadow: 0px 0px 4px 1px #FFF;
}

.footer-container {
    background-color: #1C82F1;
    display: flex;
    justify-content: space-between;
}

.footer-container__content {
    color: #FFF;
    display: inline-block;
    letter-spacing: 0.12rem;
    margin-left: 24px;
    text-transform: uppercase;
}

.footer-container__social-link:visited {
    color: #FFF;
}

.footer-container__icons {
    margin-left: 24px;
}

.footer-container__location-btn {
    background-color: inherit;
    border: none;
    letter-spacing: 0.12rem;
    padding: 0px 32px;
    text-transform: uppercase;
}

.footer-container__location-btn:hover {
    background-color: #F18B1C;
}

.footer-container__location-btn-link {
    color: #FFF;
}

.footer-container__location-btn:hover a {
    color: black !important;
}

/* Mobile smartphones (portrait)*/
@media only screen and (max-width: 480px) {
    .footer__dislike-btn {
        font-size: 16px;
        padding: 8px;
        width: 100%;
    }
    .footer-container__icons, .footer-container__content, .footer-container__location-btn-link {
        margin-left: 8px;
    }
    .footer-container__location-btn {
        margin: 0px;
    }
}