#map {
    z-index: 1;
}

.destination {
    z-index: 2;
    top: 0;
    left: 0rem;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
}

.destination__name {
    display: inline-block;
}

.destination__link {
    text-decoration: none;
}

.white-bg {
    font-weight: 700;
    letter-spacing: 0.12rem;
    background-color: white;
    font-size: 24px;
    padding: 16px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px black;
}

/* Mobile smartphones (portrait)*/
@media only screen and (max-width: 480px) {
    .destination {
        top: 0rem;
    }
    .white-bg {
        font-size: 16px;
        padding: 8px;
    }
}

/* Adjust .destination box for screen sizes > tablets */
@media only screen and (min-width: 768px) {
    .destination {
        left: 3rem;
    }
}