{
  "extends": [
    "react-app"
  ],
  "plugins": [
    "prettier",
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/imports-first": ["error", "absolute-first"],
    "linebreak-style": 0,
    "react/prop-types": 0,
    "prettier/prettier": "error"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
}