.Landing {
    overflow-y: hidden;
}

.Landing__intro {
    color: #FFF;
}

.Landing__btns {
    display: flex;
    justify-content: space-around;
}

.Landing__content {
    color: #FFF;
}

.Landing__logo-container {
    animation-duration: 1s;
    animation-delay: 1s;
    height: 300px;
}

.Landing__btn--green {
    background-color: #1EB118;
}

.Landing__btn--green:hover {
    background-color: #007B00;
}

.Landing__btn--red {
    background-color: #FF0000;
}

.Landing__btn--red:hover {
    background-color: #B30000;
}

.Landing-btns {
    width: 112px;
    padding: 16px;
}

.Landing__intro--mobile-content {
    color: #FFF;
    display: none;
}

/* Mobile smartphones (portrait)*/
@media only screen and (max-width: 480px) {
    .Landing-btns {
        padding: 8px;
    }
    .Landing__intro {
        display: none;
    }
    .Landing__intro--mobile-content {
        display: block;
    }
}

/* Tablets, mobiles (landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .Landing-btns {
        padding: 12px;
    }
    .Landing__intro {
        display: none;
    }
    .Landing__intro--mobile-content {
        display: block;
    }
    .Landing_btns {
        padding: 12px;
    }
}

/* Tablets, iPads (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Landing_btns {
    padding: 16px;
  }
}

/* Laptops, desktops */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .Landing_btns {
    padding: 20px;
  }
}

/* Desktops */
@media only screen and (min-width: 1281px) {
  .Landing_btns {
    padding: 24px;
  }
}